.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  max-width: 780px;
  margin: 0 auto;
}

.about section {
  width: 100%;
}

.about__pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__principals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: var(--spacings4);
}

.about__contact {
  margin-top: var(--spacings4);
}

.about__contact .button {
  margin: var(--spacings4) 0;
  display: block;
  width: 100%;
}

@media (min-width: 720px) {
  .about__pictures {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .about__team {
    margin-top: 80px;
  }

  .about__contact {
    margin-top: var(--spacings6);
  }

  .about__contact .button {
    margin: var(--spacings6) auto;
    width: var(--button-width);
  }
}
