.layout__outer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh);
  min-width: calc(100vw);
  overflow-x: hidden;
  background-color: var(--grey5);
}

.layout__inner {
  width: 375px;
  height: 100vh;
  max-height: 812px;
  padding: 40px;
  background-color: white;
}

@media (min-width: 376px) {
  .layout__inner {
    border-radius: 24px;
  }
}

.layout__content__right {
  width: 375px;
  position: absolute;
  right: calc(50% - 475px);
  transform: translateX(50%);
  display: none;
}
.layout__content__right p {
  font-size: 24px;
  color: var(--grey2);
}

@media (min-width: 1350px) {
  .layout__content__right {
    display: initial;
  }
}

.home__landing {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__header {
  font-size: 40px;
}

.home__text {
  font-size: 20px;
  color: var(--grey3);
}

.home__mia {
  font-size: 130px;
}

@media (min-width: 400px) {
  .home__mia {
    font-size: 180px;
  }
}
@media (min-width: 500px) {
  .home__mia {
    font-size: 280px;
  }
}

.home__buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  align-items: flex-end;
}

@media (min-width: 600px) {
  .home__buttons {
    right: calc(50vw - 340px + 16px);
  }
}

.home__section:not(:first-of-type) {
  margin-top: 54px;
}

.home__section p {
  color: var(--grey2);
}
