#conversational-form {
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 450px) {
  #conversational-form {
    border-radius: 24px;
  }
}

#conversational-form span {
  color: var(--primary);
}

#conversational-form p {
  font-family: "PT Serif", serif;
  color: var(--grey1);
  font-weight: normal;
  font-size: 16px;
}

cf-chat-response:first-of-type > text > p {
  font-weight: bold !important;
}

.cf-input-button.cf-input-button {
  background: var(--primary);
}

.robot {
  padding-left: 0;
}
.robot thumb {
  display: none;
}
.robot p {
  background: none;
  font-weight: bold;
  padding: 0;
}

.user {
  padding-right: 0 !important;
}

.user thumb {
  display: none;
}

.user p {
  background: var(--primary) !important;
  color: white !important;
  font-weight: bold;
}

.cf-button,
.cf-checkbox-button {
  border-color: var(--primary) !important;
}
.cf-button:hover,
.cf-checkbox-button:hover {
  background: var(--primary) !important;
}

.cf-button:hover span,
.cf-checkbox-button:hover span {
  color: white !important;
}

cf-checkbox {
  display: none;
}

cf-button.cf-button.cf-checkbox-button[checked="checked"],
cf-button.cf-button.cf-checkbox-button[selected="selected"] {
  background: var(--primary) !important;
}

.cf-button.cf-checkbox-button cf-checkbox,
.cf-button.cf-checkbox-button cf-checkbox,
cf-radio {
  display: none !important;
}

.mia_small {
  position: relative;
  z-index: 1000;
}

cf-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0 16px;
}

cf-list-button {
  display: none !important;
}
