#conversational-form {
  max-width: 100%;
  max-height: 100%;
  font-family: "PT Serif", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.4;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.32);
}

#conversational-form span,
cf-chat-response.user p {
  color: var(--primary);
  font-weight: normal;
  font-size: 14px;
  font-family: "PT Sans";
}

#conversational-form p {
  color: var(--grey1);
  font-weight: normal;
}

.conversational-form-inner {
  padding: 0px 20px !important;
  display: flex !important;
  justify-content: space-between !important;
}

cf-chat-response.robot:first-of-type {
  margin-right: 0px !important;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

cf-chat-response.robot:first-of-type > text > p {
  font-weight: bold !important;
  font-size: 40px;
  line-height: 1.2;
}

.cf-icon-progress {
  background-size: 16px;
}

.cf-progressBar .bar {
  background-color: var(--primary50) !important;
}

.cf-input-button.cf-input-button {
  background: var(--primary);
}

.robot p {
  background-color: var(--grey3);
}

.robot thumb {
  background-image: url(/images/icons/mia-avatar.svg) !important;
  background-size: contain;
  background-repeat: no-repeat;
}

.user thumb {
  background-image: none !important;
}

.user p {
  background: var(--primary) !important;
  color: white !important;
  font-weight: bold;
}

.cf-button,
.cf-checkbox-button {
  border-color: var(--primary) !important;
}

.cf-button:hover,
.cf-checkbox-button:hover,
.cf-button:focus,
.cf-button:focus span,
cf-button.cf-button.cf-checkbox-button[checked="checked"],
cf-button.cf-button.cf-checkbox-button[selected="selected"] {
  background: var(--primary) !important;
  color: white !important;
}

.cf-button:hover span,
.cf-checkbox-button:hover span {
  color: white !important;
}

cf-checkbox {
  display: none;
}

.cf-button.cf-checkbox-button cf-checkbox,
.cf-button.cf-checkbox-button cf-checkbox,
cf-radio {
  display: none !important;
}

cf-list {
  max-width: 100%;
}

@media (max-height: 500px), (max-width: 720px) {
  #conversational-form {
    border-radius: 0px;
    font-size: 16px;
  }

  .conversational-form-inner {
    padding: 0px 20px !important;
  }

  cf-chat-response.robot:first-of-type > text > p,
  cf-chat-response.robot:first-of-type > text {
    font-size: 24px;
    min-width: 0px;
    width: calc(100% - 50px);
  }
}
