@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --primary: #4200ff;
  --black: #333;
  --grey1: #555555;
  --grey2: #666666;
  --grey3: #777777;
}

.button {
  background: none;
  border: 2px solid var(--primary);
  border-radius: 24px;
  padding: 8px 12px;
  color: var(--primary);
  font-weight: bold;
  text-align: center;
  transition: all ease-in-out 0.2s;
  background: white;
}

.button:hover {
  color: white;
  background-color: var(--primary);
}
