@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Serif", serif;
  color: var(--grey1);
  transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "PT Serif", serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "PT Sans", sans-serif;
  transition: all 0.2s ease;
}

a:hover {
  color: var(--primary);
}

:root {
  --primary: #0044E7;
  --beige: 	#FAF2DE;
  --error: #eb5757;
  --grey1: #333;
  --grey2: #4f4f4f;
  --grey3: #828282;
  --grey5: #e5e5e5;
  --grey6: #f2f2f2;
  --white: #ffffff;
  --babyblue: #B3C7F8;

  --max-content-width: 1440px;
}

.button {
  line-height: 1;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;

  border: 1px solid var(--primary);
  border-radius: 24px;
  padding: 16px;
  width: 244px;
  font-weight: bold;
  text-align: center;
  transition: all ease-in-out 0.2s;
  background-color: var(--primary);
  color: white;
}

.modal {
  position: relative;
  background-color: var(--grey6);
  border: 1px solid var(--grey6);
  border-radius: 8px;
  z-index: 5000;
  padding: 12px;
  margin: -26px -26px 0px;
}

.modal button {
  position: absolute;
  top: 12px;
  right: 8px;
  background: none;
  border: none;
}

.modal h3 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

.modal p {
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
}

.modal a {
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
}

.modal.error {
  border-color: var(--error);
}

.link {
  color: var(--primary);
  font-weight: bold;
}

.error {
  color: var(--error);
}

.noLineHeight {
  line-height: 1;
}
