@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--grey1);
  transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "PT Serif", serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "PT Sans", sans-serif;
  transition: all 0.2s ease;
}

a:hover {
  color: var(--primary);
}

:root {
  /* COLORS */
  --primary: #0044e7;
  --primary50: #80a1f3;
  --primary30: #b3c7f8;
  --primary15: #d9e3fb;

  --grey1: #333;
  --grey2: #999;
  --grey3: #f1f1f1;
  --white: #ffffff;

  --accent: #e8aa17;
  --accent15: #fcf2dc;

  /* SPACINGS */

  --spacings1: 8px;
  --spacings2: 12px;
  --spacings3: 16px;
  --spacings4: 24px;
  --spacings5: 32px;
  --spacings6: 40px;
  --spacings6: 56px;

  --max-content-width: 1440px;
  --button-width: 244px;
}

.heading1 {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
}

.heading2 {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
}

.bodyText {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}

.emphasized {
  font-weight: bold;
}

.caption {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
}

.button {
  line-height: 1;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;

  border: 1px solid var(--primary);
  border-radius: 24px;
  padding: 16px;
  width: var(--button-width);
  font-weight: bold;
  text-align: center;
  transition: all ease-in-out 0.2s;
  background-color: var(--primary);
  color: white;
}

.button:hover {
  color: white;
}

.link {
  color: var(--primary);
  font-weight: bold;
}

.noLineHeight {
  line-height: 1;
}

@media (min-width: 720px) {
  .heading1 {
    font-size: 56px;
  }
  .heading2 {
    font-size: 40px;
  }
  .bodyText {
    font-size: 20px;
  }
  .caption {
    font-size: 16px;
  }
}
