.body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
  min-height: 100vh;
  transition: all 0.2s ease;
}

.beigeBackground {
  background: var(--accent15);
}

.headerOuter {
  background-color: var(--white);
  border-bottom: 1px solid var(--grey3);
}

header {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: relative;
  z-index: 100;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo:hover {
  color: var(--grey1);
  text-decoration: none;
}

.logo:hover > div {
  background-color: var(--primary50);
}

.logo > div {
  padding: 4px 4px 3px 5px;
  background-color: var(--primary);
  color: var(--white);
  font-size: 10px;
  line-height: 1;
  margin-left: 5px;
  margin-bottom: 17px;
  border-radius: 3px;
  text-transform: uppercase;
}

header nav a:first-child {
  margin-right: 40px;
}

main {
  height: calc(100vh - 88px);
  min-height: calc(100vh - 88px);
  overflow-x: hidden;
  margin: 0 auto;
  max-width: var(--max-content-width);
}

@media (min-width: 720px) {
  header {
    padding: 16px 60px;
  }

  main {
    padding: 20px 30px 30px 30px;
  }
}
