.body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--beige);
}

header {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid var(--grey3);
  position: relative;
  z-index: 100;
  background-color: var(--white);
  font-size: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo:hover {
  text-decoration: none;
  color: var(--grey1);
}

.logo:hover > div {
  background-color: var(--error);
}

.logo > div {
  padding: 4px 4px 3px 5px;
  background-color: var(--primary);
  color: var(--white);
  font-size: 10px;
  line-height: 1;
  margin-left: 5px;
  margin-bottom: 17px;
  border-radius: 3px;
}

header nav a:first-child {
  margin-right: 40px;
}

main {
  padding: 0px 40px 16px;
  height: calc(100vh - 88px);
  min-height: calc(100vh - 88px);
  overflow-x: hidden;
  margin: 0 auto;
  max-width: var(--max-content-width);
}

@media (min-width: 1000px) {
  header {
    padding: 16px 60px;
  }
  main {
    padding: 0px;
    height: calc(100vh - 64px);
    min-height: calc(100vh - 64px);
  }

  header h1 {
    font-size: 30px;
  }

  header nav a {
    margin-left: 40px;
    margin-right: 0px;
  }

  header {
    height: 64px;
    font-size: 16px;
  }
}
